astroid==2.4.2
cycler==0.10.0
dill==0.3.1.1
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.4
Pillow==7.1.2
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-mnist==0.7
scipy==1.4.1
six==1.15.0
toml==0.10.1
wrapt==1.12.1
